svg {
    font-family: arial;
    font-size: 6px;
}

body {
    background-image: url(/images/berry_lemon.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}