section {
    margin-top: 50px;
    width: 70%;
}


.outer-1 {
    left: 10%;
    width: 120%;
    /* You can define it by % also */
    height: 900px;
    /* You can define it by % also*/
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1% 1% 0% 1%;
}

.inner-1 {
    top: 20%;
    left: 20%;
    /* of the container */
    width: 60%;
    /* of the outer-1 */
    height: 60%;
    /* of the outer-1 */
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
}

.inner-2 {
    top: 35%;
    left: 32%;
    /* of the container */
    width: 35%;
    /* of the inner-1 */
    height: 30%;
    /* of the inner-1 */
    position: absolute;
    border-radius: 50%;
}

.inner-2-sweet {
    background-color: #d84126;
    top: -70px;
    left: 300px;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-top-right-radius: 50px;
    clip: rect(40px, 13px, 150px, px);
}
.inner-2-fruity {
    background-color: #ff0000;
    top: 0%;
    left: 50%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(90deg);
}
.inner-2-nuttyCocoa {
    background-color: #B98773;
    top: 0%;
    left: 0%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.inner-2-spices {
    background-color: #942D40;
    top: 36%;
    left: 96%;
    /* of the container */
    width: 35%;
    /* of the inner-1 */
    height: 55%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.inner-2-greenVegetavive {
    background-color: #468043;
    top: 50%;
    left: 50%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(180deg);
}
.inner-2-other {
    background-color: #2BABBF;
    top: 50%;
    left: 0;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(-90deg);
}


.inner-3 {
    background-color: white;
    top: 42%;
    left: 41%;
    /* of the container */
    width: 18%;
    /* of the inner-1 */
    height: 16%;
    /* of the inner-1 */
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
}

