section {
    margin-top: 50px;
    width: 70%;
}


.outer-1 {
    left: 10%;
    width: 120%;
    /* You can define it by % also */
    height: 900px;
    /* You can define it by % also*/
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1% 1% 0% 1%;
}

.inner-1 {
    top: 20%;
    left: 20%;
    /* of the container */
    width: 60%;
    /* of the outer-1 */
    height: 60%;
    /* of the outer-1 */
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
}

.inner-2 {
    top: 35%;
    left: 32%;
    /* of the container */
    width: 35%;
    /* of the inner-1 */
    height: 30%;
    /* of the inner-1 */
    position: absolute;
    border-radius: 50%;
}

.inner-2-sweet {
    background-color: #d84126;
    top: 0%;
    left: 0%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    clip-path: polygon(0% 0%, 0% 10%, 100% 0%, 100% 100%);
    border-radius: 100% 0% 0% 0%;
}
.inner-2-fruity {
    background-color: #ff0000;
    top: 0%;
    left: 50%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-radius: 0% 100% 0% 0%;
}

.inner-2-floral {
    background-color: #DC5B8D;
    top: 0%;
    left: 50%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-radius: 0% 100% 0% 0%;
    clip-path: polygon(0% 10%, 0% 0%, 40% 0%, 0% 100%);
}

.inner-2-nuttyCocoa {
    background-color: #B98773;
    top: 0%;
    left: 0%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    clip-path: polygon(20% 0%, 0% 0%, 0% 40%, 100% 100%);
    border-radius: 100% 0% 0% 0%;

}
.inner-2-spices {
    background-color: #942D40;
      top: 0%;
    left: 0%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    clip-path: polygon(0% 100%, 0% 0%, 0% 40%, 100% 100%);
    border-radius: 100% 0% 0% 0%;

}

.inner-2-greenVegetavive {
    background-color: #468043;
    top: 50%;
    left: 50%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    border-radius: 0% 0% 100% 0%;
    box-shadow: 0 0 0 3px white;
    clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 0% 100%);
}

.inner-2-sourFermented {
    background-color: #F6C655;
    top: 50%;
    left: 50%;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    border-radius: 0% 0% 100% 0%;
    box-shadow: 0 0 0 3px white;
    clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 90% 90%);
}

.inner-2-other {
    background-color: #2BABBF;
    top: 50%;
    left: 0;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-radius: 0% 0% 0% 100%;
    clip-path: polygon(0% 0%, 0% 0%, 0% 150%, 200% 50%);
}

.inner-2-roasted {
    background-color: #D55B52;
    top: 50%;
    left: 0;
    /* of the container */
    width: 50%;
    /* of the inner-1 */
    height: 50%;
    /* of the inner-1 */
    position: absolute;
    box-shadow: 0 0 0 3px white;
    border-radius: 0% 0% 0% 100%;
    clip-path: polygon(0% 150%, 0% 0%, 70% 0%, 20% 100%);
}

.inner-3 {
    background-color: white;
    top: 42%;
    left: 41%;
    /* of the container */
    width: 18%;
    /* of the inner-1 */
    height: 16%;
    /* of the inner-1 */
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
}

