body {
    background-image: url(/static/images/backgroundAll.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    margin-top: -200px;
}

.card-body {
    flex: 1 1 auto;
    padding: card-spacer-x;
    color: card-color;
    opacity: 20%;
}